.custom-excel-table{display: block; margin: 0!important;}
#custom-excel-table-form #edit-custom-excel-table_filter{display:none;}
table.custom-excel-table.dataTable tbody th,
table.custom-excel-table.dataTable tbody td {
  word-break: break-word;
  min-width: 100px;
}
table.custom-excel-table.dataTable thead th{
  min-width: 100px;
}

.custom-excel-table-form {
  display: block;
}

.custom-excel-table-form .chosen-container, .custom-excel-table-form select{
  width: 300px;
}

.custom-excel-table-form .excel-filter, .custom-excel-table-form .excel-show{
  display: table;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  white-space: normal;
}
.custom-excel-table-form .excel-filter div.form-item{
  display:inline flow-root list-item;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  list-style: none;
}

.custom-excel-table-form .excel-filter div.form-item label{
  margin-right: 10px;
}
